In [7]:
import pandas as pd
df = pd.read_csv("drinking fountains_outdoor&filter.csv")
df

      Unnamed: 0         PropertyName  ZIPCode  Filter_Installed  Outdoor
0              0  American Playground  11222.0             False     True
1              1       Amersfort Park  11210.0             False     True
2              2       Amersfort Park  11210.0             False     True
3              3     Bensonhurst Park  11214.0             False     True
4              4     Bensonhurst Park  11214.0              True     True
...          ...                  ...      ...               ...      ...
3810        3859  Garrison Playground  10451.0             False     True
3811        3860           Grant Park  10456.0             False     True
3812        3861      Pelham Bay Park  10464.0             False     True
3813        3862      Pelham Bay Park  10464.0             False     True
3814        3868   Van Cortlandt Park  10471.0             False     True

[3815 rows x 5 columns]

In [8]:
df.dtypes

Unnamed: 0            int64
PropertyName         object
ZIPCode             float64
Filter_Installed       bool
Outdoor                bool
dtype: object

In [9]:
df.Outdoor = df.Outdoor.astype(str)
df.dtypes

Unnamed: 0            int64
PropertyName         object
ZIPCode             float64
Filter_Installed       bool
Outdoor              object
dtype: object

In [10]:
df["Outdoor_or_not"]= df.Outdoor.str.replace("True","outdoor")
df.Outdoor_or_not = df.Outdoor_or_not.str.replace("False","indoor")

In [11]:
df.Filter_Installed = df.Filter_Installed.astype(str)
df.dtypes

Unnamed: 0            int64
PropertyName         object
ZIPCode             float64
Filter_Installed     object
Outdoor              object
Outdoor_or_not       object
dtype: object

In [12]:
df["filter_or_not"] = df.Filter_Installed.str.replace("True","installed")
df.filter_or_not = df.filter_or_not.str.replace("False","not installed")

In [60]:
#df.groupby(by="Outdoor_or_not").filter_or_not.value_counts().to_csv("correlation_outdoor&filter.csv")

# Where are the filtered drinking fountains?

In [15]:
df[df.filter_or_not == "installed"]
df[df.filter_or_not == "installed"].to_csv("filtered_map.csv")

# Sort the filtered data by outdoor & indoor

In [28]:
import pandas as pd
df = pd.read_csv("filtered_map.csv")
df

                  PropertyName Outdoor_or_not filter_or_not
0             Bensonhurst Park        outdoor     installed
1             Bensonhurst Park        outdoor     installed
2             Bensonhurst Park        outdoor     installed
3              Betsy Head Park        outdoor     installed
4                  Brower Park        outdoor     installed
..                         ...            ...           ...
347  Rev Lena Irons Unity Park        outdoor     installed
348     Half-Nelson Playground        outdoor     installed
349        Barretto Point Park         indoor     installed
350           Mohegan Triangle        outdoor     installed
351         River Avenue Parks        outdoor     installed

[352 rows x 3 columns]

In [39]:
df_sorted = df.sort_values(by="Outdoor_or_not")
#df.groupby(by="Outdoor_or_not").PropertyName.value_counts().to_csv("sorted_filtered_map.csv")